@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(0, 200px); 
        width: calc(100% - 60px); 
    }
    .nav-links li {
        margin: 0 20px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .navbar { 
        display: flex;
        justify-content: center; 
    }
    .logo-nav{
        display: none;
    }
    .social-icons {
        display: none;
    }
    .btn-jujutsu-container {
        position: absolute;
        top: 450px;
        width: 100%;  
    }
    .btn {
        position: absolute; 
        top: 10;
        right: 0;
        left: 0;
    }
    .image-grid2{
        margin-top: 150px;
    }
}