body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px; /* Tamaño base */

}
.navbar {
    background-color: rgb(43, 43, 43); /* Color rosa */
    padding: 10px 20px; /* Espaciado interno de la barra de navegación */
    display: flex;
    justify-content: initial;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 200;
    top: 0px;
}
.logo-nav img{
    position: absolute;
    height: 35px;
    top: 3px;
    left: 15px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); 
}
.nav-links {
    list-style: none; 
    padding: 0;
    margin: 0;
    margin-left: 30px;
    display: flex;
    width: 100vw;
}
.nav-links li {
    margin: 0 40px; 
}
.nav-links a {
    text-decoration: none; 
    color: white;
    font-size: 18px; 
    font-weight: bold; 
    font-family: "Montserrat", sans-serif;
    text-shadow: 3px 3px 5px rgb(0, 0, 0); 
}
.nav-links a:hover {
    background-color: #ff1493;
    padding: 10px;
}
form {
    position: absolute;
    right: 220px;
}
.btn-buscador {
    background-color: #ff0080;
    color: #f0f0f0;
}
.social-icons {
    position: absolute;
    z-index: 1;
    right: 100px;
    top: 2px;
    padding: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.social-icon {
    margin-left: 5px; 
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px); 
    width: calc(100% - 100px); 
    height: auto; 
    gap: 30px; 
    margin: 30px; 
}
.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.inicio-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    width: 80%; 
}
.inicio-grid img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}
@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(5, 400px); 
        width: calc(100% - 60px); 
    }
    .logo-nav-mov{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        background-color: rgb(32, 32, 32);
    }
    .logo-nav-mov img{
        margin: 10px;
        height: 90px;
        margin-top: 50px;
    }

    .image-grid2 img {
        width: 100%; 
    }
    .bg-equipo {
        display: none;
    }
    .container-equipo {
        display: none;
    }

    .section-equipo-mov {
        background-color: #0f0f0f;
        padding: 30px;
    }
    .container-equipo-mov {
        color: white;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 20px;
    }
    .form-mov {
        left: 20px;
        width: 300px;
        height: 220px;
    }
    .btn-form-mov {
        background-color: #ff0080;
        width: 100%;
        height: 50px;
        color:white;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 20px;
        margin-bottom: 100px;
    }
    .btn-form-mov:hover {
        background-color: #ffa600;
        width: 100%;
        height: 50px;
        color:white;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 20px;
        text-shadow: 3px 3px 5px rgb(0, 0, 0);
        box-shadow: 3px 3px 5px rgb(0, 0, 0);
    }
}
@media (max-width: 1129px) {
    .img-nosotros-container img {
        display: none;
    }
    .search-form {
        display: none;
    }
    .logo-nav{
        display: none;
    }
}
@media (min-width: 500px) {
    .logo-nav-mov {
        display: none;
    }
    .section-equipo-mov{
        display: none;
    }
}
@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(0, 200px); 
        width: calc(100% - 60px); 
    }
    .nav-links li {
        margin: 0 20px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .navbar { 
        display: flex;
        justify-content: center; 
    }
    .logo-nav{
        display: none;
    }
    .social-icons {
        display: none;
    }
    .btn-jujutsu-container {
        position: absolute;
        top: 450px;
        width: 100%;  
    }
    .btn {
        position: absolute; 
        top: 10;
        right: 0;
        left: 0;
    }
    .image-grid2{
        margin-top: 150px;
    }
}
.grid-item {
    position: relative; 
    width: 100%;
    height: 100%;
}
.overlay-text {
    position: absolute; 
    bottom: 10px; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 5px; 
    font-size: 20px;
    width: 100%;
    height: 80px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallsukuna {
    margin-top: 14px;
    width: 100%;
}
.btn-jujutsu-container {
    display: flex;
    justify-content: center;
    transform: translateY(-100px);
}
.btn {
    background-color: #ff0080; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 25px; 
    font-weight: bold; 
    cursor: pointer; 
    text-transform: uppercase; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.btn:hover {
    background-color: #ffd000; /* Color rosa más oscuro al pasar el ratón */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Sombra más intensa al pasar el ratón */
}
.nosotros-tittle {
    background-color: #2c2c2c;
    width: 100vw;
    margin-top: 90px;
}
.nosotros-tittle P {
    color:#ffffff;
    font-size: 40px;
    padding: 10px;
    margin-left: 30px;
    font-family: "Roboto Condensed", sans-serif;
    text-shadow: 3px 5px 10px rgb(0, 0, 0);
}
.container-nosotros{
    display: flex;
    margin-top: -40px;
    background-color: rgb(255, 255, 255); 
}
.nosotros-txt p {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}
.img-nosotros-container img {
    height: 550px;
    margin-right: 80px;
    margin-top: 15px;
}
.image-grid2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* Espacio entre las imágenes */
    margin-top: 50px;
}
.image-item {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden; /* Asegura que el overlay no se desborde */
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
.image-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    color: #fff;
    opacity: 0; /* Oculto por defecto */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.image-item:hover .overlay {
    opacity: 1; /* Muestra el overlay al pasar el mouse */
}
.overlay .text {
    padding: 20px;
}
.overlay h2 {
    margin: 0;
    font-size: 24px;
}
.overlay p {
    margin: 10px 0 0;
    font-size: 16px;
}
footer {
    display: flex;
    justify-content: center;
    color: white;
}
h2 {
    font-family: "Archivo Black", sans-serif;
}
h1 {
    font-size: 100px;
}
.nosotros-txt button { 
    background-color: #ff0080;
    color: white;
    width: 100%;
    height: 50px;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    padding: 15px;
}
.nosotros-txt button:hover { 
    background-color: #ffd000;
}
.votaciones-container {
    margin: 50px;
    padding: 20px;
    background-color: #2c2c2c;
    text-align: center;
    border: solid white 2px;
}
.votaciones-container p{
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    text-transform: uppercase;  
}
.votaciones-container button {
    background-color: #ff0080;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 20px;
    font-family: "Archivo Black", sans-serif;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: solid white 2px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.votaciones-container button:hover {
    background-color: #ffd000;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 20px;
    font-family: "Archivo Black", sans-serif;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: solid rgb(255, 255, 255) 2px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
/*Votacion*/
.container-nominados{
    background-color: rgb(51, 51, 51);
    padding: 40px;
}
.movie {
    display: inline-block;
    margin-left: 80px;
    cursor: pointer;
}
.movie img {
    width: 200px;
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
}
.movie img:hover {
    transform: scale(1.05);
}
.rating {
    font-size: 20px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    font-family: "Roboto Condensed", sans-serif;
}
.movie p {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    font-family: "Roboto Condensed", sans-serif;
}
.movie div {
    color: #ff85c2;
}
/*comunidad*/
.section-normas {
    display: flex;
    margin-top: 50px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.container-normas {
    color: white;
    background-color: #242424;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    margin: 40px;
    padding: 20px;
    width: 500px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);

}
/*Forma-parte*/
.equipo {
    margin-top: 7px;
    width: 100%;
}
.bg-equipo img {
    width: 100%;
}
.section-equipo {
    display: flex;
    margin-top: 50px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.container-equipo {
    color: white;
    background-color: #242424;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    margin: 40px;
    padding: 20px;
    width: 500px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    position: absolute;
    top: 30px;
}

